appdirs
beautifulsoup4
blinker
certifi
cffi
charset-normalizer
click
colorama
cryptography
Flask
frozendict
html5lib
idna
importlib-metadata
itsdangerous
Jinja2
lxml
MarkupSafe
multitasking
numpy
pandas
pandas-datareader
pycparser
python-dateutil
pytz
requests
six
soupsieve
tzdata
urllib3
webencodings
Werkzeug
yfinance
zipp
gunicorn